@import 'tailwindcss';

@layer utilities {
	.font-bad-script {
		font-family: var(--font-bad-script);
	}
	.font-inter {
		font-family: var(--font-inter);
	}
}

@layer base {
	h1 {
		font-size: 2.25rem;
		line-height: 2.5rem;
		font-weight: 700;
	}

	h2 {
		font-size: 1.875rem;
		line-height: 2.25rem;
		font-weight: 600;
	}

	h3 {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 600;
	}

	/* Firefox */
	/* * {
		scrollbar-width: thin;
		scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
	} */

	/* Chrome / Edge / Safari */
	/* Глобальный scrollbar страницы */
	html::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	html::-webkit-scrollbar-track {
		background: #001067; /* цвет трека глобального */
	}

	html::-webkit-scrollbar-thumb {
		background: white;
		border-radius: 999px;
	}

	/* Внутренние scrollbar’ы всех элементов кроме html */
	body *::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}

	body *::-webkit-scrollbar-track {
		background: transparent;
		margin: 8px 8px 0px 8px;
	}

	body *::-webkit-scrollbar-thumb {
		background: #2b7fff !important;
		border-radius: 999px;
		border: 3px solid transparent;
	}
}

@layer components {
	.input {
		@apply w-full flex items-center rounded-2xl p-2 bg-white text-black outline-none placeholder:text-gray-400 border border-gray-400;
	}

	.error {
		@apply text-red-500 ml-1 mt-1 text-sm;
	}
}

@theme {
	--breakpoint-tablet: 768px;
	--breakpoint-desktop: 1440px;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: url('/background.jpg') no-repeat 50% 0;
	background-attachment: fixed;
	background-size: cover;
}
